{% extends './estructura.html' %}
{% block body %}
  <main class="app-content">    
      <div class="app-title">
        <div class="mt-5">
            <h1> <i class="app-menu__icon fas fa-building" aria-hidden="true"></i> Consultas
                
            </h1>
        </div>
        <div class="tile-footer mt-5">
          <button  class="btn btn-primary" onclick="librerarTodasConsultas()"><i class="fa fa-fw fa-lg fa-check-circle"></i><span id="">Liberar Todas las Consultas del Hospital</span></button>
        </div>
      </div>
        <div class="row">
            <div class="col-md-12">
              <div class="tile">
                <div class="tile-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="tablaConsultas">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Nombre Hospital</th>
                          <th>Nombre Consulta</th>
                          <th>Especialista</th>
                          <th>Cantidad Pacientes Atender</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/consultas.js') }}"></script>
{% endblock %}
    