{% extends './estructura.html' %}
{% block body %}
<main class="app-content">
    <div class="app-title mt-3">
      <div>
        <h1><i class="fa fa-chart-line"></i>Paciente Mayor Riesgo</h1>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="{{ url_for('mayorRiesgo') }}">Mayor Riesgo</a></li>
      </ul>
    </div>



    <div class="row">

      <div class="col-md-6 col-lg-4">
        <form id="formularioMayorRiesgo" name="formularioMayorRiesgo" class="form-horizontal">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="idHistoriaClinica">Numero Historia Clínica</label>
                <input type="number" class="form-control" id="idHistoriaClinica" name="idHistoriaClinica" required="">
              </div>
            </div>
            <div class="tile-footer">
              <button id="btnMayorRiesgo" class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i><span id="btnTextMayorRiesgo">Buscar</span></button>
            </div>
          </form>
      </div>

    </div>
    <div class="row mt-2">

      <div class="col-md-12s">
        <div class="tile">
          <h3 class="tile-title ">Pacientes Mayor Riesgo</h3>
          <h5 class="text-info" id=""></h5>
          <table class="table table-striped table-sm"  id="tablaMayorRiesgo">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Historia Clinica</th>
                <th>Riesgo</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <script src="{{ url_for('static', filename='js/mayorRiesgo.js') }}"></script>
{% endblock %}
