{% extends './estructura.html' %}
{% block body %}
<main class="app-content">
    <div class="app-title mt-3">
        <div>
            <h1><i class="fa fa-file-alt"></i>Reportes</h1>
        </div>
        
    </div>
    <div class="row">

        <div class="col-md-12s">
            <div class="tile">
                <h3 class="tile-title titulo-resumen"></h3>
                <h5 class="text-info" id="">Cantidad Pacientes Atendidos por Consulta</h5>
                <table class="table table-striped table-sm" id="tablaConsultaMasAtenciones">
                    <thead>
                        <tr>
                            <th>Pediatria</th>
                            <th>CGI</th>
                            <th>Urgencia</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12s">
            <div class="tile">
                <h3 class="tile-title titulo-resumen"></h3>
                <h5 class="text-info" id="">Paciente mas Anciano en Espera</h5>
                <table class="table table-striped table-sm" id="tablaPacienteMasAnciano">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Edad</th>
                            <th>N° Historia Clinica</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/reporte.js') }}"></script>
{% endblock %}