{% extends './estructura.html' %}
{% block body %}
  <main class="app-content">    
      <div class="mt-3 app-title">
        <div>
            <h1><i class="fas fa-users"></i>Sala de espera
                
            </h1>
        </div>
      </div>
        <div class="row">
          <div class="tile-footer">
            <button class="btn btn-primary mb-2" type="button" onclick="openModalNuevoPaciente()" ><i class="fas fa-plus-circle"></i> Nuevo Paciente</button>
          </div>
          <div class="tile-footer">
            <button  class="btn btn-primary" onclick="ordenAtencionNormal()"><i class="fa fa-fw fa-lg fa-check-circle"></i><span id="">Ordenar por prioridad y orden de llegada</span></button>
          </div>
          <div class="tile-footer my-2 ">
            <button  class="btn btn-primary" onclick="ordenAtencionOptimizada()"><i class="fa fa-fw fa-lg fa-check-circle"></i><span id="">Optimizar Atencion</span></button>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="tile">
                <div class="tile-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="tablePacientesSalaEspera">
                      <thead>
                        <tr>
                          <th>ID Paciente</th>
                          <th>Nombres</th>
                          <th>Apellidos</th>
                          <th>Edad</th>
                          <th>Nro° Historia Clínica</th>
                          <th>Especialista</th>
                          <th>Consulta</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </main>


 <!-- Modal -->
<div class="modal fade form-modal" id="modalFormPaciente" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header headerRegister">
        <h5 class="modal-title" id="titleModal">Nuevo Usuario</h5>
        <button type="button" class="close cerrarModal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form id="formularioNuevoPaciente" name="formularioNuevoPaciente" class="form-horizontal">
              <input type="hidden" id="idUsuario" name="idUsuario" value="">
              <p class="text-primary">Todos los campos son obligatorios.</p>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="idHistoriaClinica">Id Historia Clínica</label>
                  <input type="number" class="form-control" id="idHistoriaClinica" name="idHistoriaClinica" required="">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="nombrePaciente">Nombres</label>
                  <input type="text" class="form-control" id="nombrePaciente" name="nombrePaciente" required="">
                </div>
                <div class="form-group col-md-6">
                  <label for="apellidoPaciente">Apellidos</label>
                  <input type="text" class="form-control" id="apellidoPaciente" name="apellidoPaciente" required="">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="edadPaciente">Edad</label>
                  <input type="number"  min="0" class="form-control" id="edadPaciente" name="edadPaciente" required="">
              </div>
                <div class="form-group col-md-6">
                    <label for="listPacienteid">Tipo Paciente</label>
                    <select class="form-control" data-live-search="true" id="listPacienteid" name="listPacienteid" onchange="changePaciente()" required >
                        <option value="1" selected>Niño</option>
                        <option value="2">Adulto Joven</option>
                        <option value="3">Anciano</option>
                    </select>
                </div>
             </div>

             <div class="form-row child-class">
              <div class="form-group col-md-6">
                <label for="pesoPaciente">Peso</label>
                <input type="number" class="form-control" id="pesoPaciente" name="pesoPaciente" >
              </div>
              <div class="form-group col-md-6">
                <label for="estaturaPaciente">Estatura</label>
                <input type="number" class="form-control" id="estaturaPaciente" name="estaturaPaciente" >
              </div>
            </div>

             <div class="form-row fumador-class" style=" display: none;">
              <div class="form-group col-md-6">
                <label for='nombre_producto'>¿Es Fumador?</label>
                <div class='col-md-8 margin_top'>
                  <div class="form-check">
                  <input  onclick="desbloquearFumador(event)" class="form-check-input" type="radio" name="fumadorRadio" id="radioNoEsInsumo" value="0" checked>
                  <label class="form-check-label" for="radioNoEsInsumo">
                      No
                  </label>
                  
                  </div>
                  <div class="form-check">
                  <input onclick="desbloquearFumador(event)" class="form-check-input" type="radio" name="fumadorRadio" id="radioEsInsumo" value="1">
                  <label class="form-check-label" for="radioEsInsumo">
                      Si
                  </label>
                  </div>
              </div>
              </div>
              <div class="form-group col-md-6">
                  <label for="tiempoFumador">¿Tiempo de fumador?</label>
                  <input type="number"   min="0" class="form-control tiempoFumador" id="tiempoFumador" name="tiempoFumador" disabled  placeholder="Ingrese años">
              </div>
           </div>
           <div class="form-row dieta-class" style=" display: none;">
            <div class="form-group col-md-6">
              <label for='nombre_producto'>¿Tiene Dieta?</label>
              <div class='col-md-8 margin_top'>
                <div class="form-check">
                <input  onclick="desbloquearDieta(event)" class="form-check-input" type="radio" name="dietaRadio" id="radioNoDieta" value="0" checked>
                <label class="form-check-label" for="radioNoDieta">
                    No
                </label>
                
                </div>
                <div class="form-check">
                <input onclick="desbloquearDieta(event)" class="form-check-input" type="radio" name="dietaRadio" id="radioDieta" value="1">
                <label class="form-check-label" for="radioDieta">
                    Si
                </label>
                </div>
            </div>
            </div>
            <!--<div class="form-group col-md-6">
                <label for="listStatus">¿Indique Dieta?</label>
                <input type="text" class="form-control" id="dieta"  disabled name="dieta">
            </div>-->
         </div>

  
              <div class="tile-footer">
                <button id="btnActionForm" class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i><span id="btnText">Guardar</span></button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger cerrarModal" type="button" data-dismiss="modal"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cerrar</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/salaEspera.js') }}"></script>
{% endblock %}


    