{% extends './estructura.html' %}
{% block body %}
<main class="app-content">
    <div class="mt-3 app-title">
      <div>
        <h1><i class="fa fa-hospital"></i>Urgencia</h1>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12s">
        <div class="tile">
          <h3 class="tile-title titulo-resumen"></h3>
          <h5 class="text-info" id="estadoConsulta"></h5>
          <table class="table table-striped table-sm"  id="tablaUrgencia">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre Paciente</th>
                <th>Apellido</th>
                <th>N° Historia Clinica</th>
                <th>Especialista</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <script src="{{ url_for('static', filename='js/urgencia.js') }}"></script>
{% endblock %}
