<header class="app-header"><a class="app-header__logo" href="salaDeEspera"><img src="https://www.fonasa.cl/assets/fonasa2020/img/logo-fonasa.svg" alt="" height="75%">
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"><i class="fas fa-bars"></i></a>
    <ul class="app-nav">
      <li class="dropdown"><a class="app-nav__item" href="{{ url_for('logout') }}" data-toggle="dropdown" aria-label="Open Profile Menu"> <i class="app-menu__icon fa fa-sign-out" aria-hidden="true"></i>  <span class="app-menu__label">Logout</span></a>
      </li>
    </ul>    
</header>









