<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="ml-2" src="" alt="">
        <div>
            <p class="app-sidebar__user-name">{{ current_user.fullname }}</p>
            <p class="app-sidebar__user-designation"></p>
        </div>
    </div>
    <ul class="app-menu">
        <li class="treeview">
            <a class="app-menu__item" href="salaDeEspera">
                <i class="app-menu__icon fa fa-users" aria-hidden="true"></i>
                <span class="app-menu__label">Sala de espera</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="urgencia">
                <i class="app-menu__icon fa fa-hospital"></i>
                <span class="app-menu__label">Urgencia</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="pediatria">
                <i class="app-menu__icon fa fa-child"></i>
                <span class="app-menu__label">Pediatria</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="cgi">
                <i class="app-menu__icon fa fa-stethoscope"></i>
                <span class="app-menu__label">Consulta General Integral</span>
            </a>
        </li>

        <li class="treeview">
            <a class="app-menu__item" href="consultas" data-toggle="treeview">
                <i class="app-menu__icon fas fa-building" aria-hidden="true"></i>
                <span class="app-menu__label">Consultas</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="mayorRiesgo">
                <i class="app-menu__icon fas fa-chart-line" aria-hidden="true"></i>
                <span class="app-menu__label">Mayor Riesgo</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="reporte">
                <i class="app-menu__icon fas fa-file-alt" aria-hidden="true"></i>
                <span class="app-menu__label">Reportes</span>
            </a>
        </li>
    </ul>
</aside>